<!-- Demo Of Radio Group with form . <br>
<hr/>
<form #demoForm="ngForm">
    <amexio-radio-group-1 [required]="true" [name]="'empid'" [(ngModel)]="empid" [data]="empdata" [display-field]="'firstName'"
      [value-field]="'id'" [field-label]="'Select Employee'">
    </amexio-radio-group-1>
    <amexio-text-component [field-label]="'Employee Name'" [required]="true" [name]="'empname'" [(ngModel)]="empname" ></amexio-text-component>
  </form>
  <hr/>
Form valid : {{demoForm.form.valid}} <br/>
Employee Id {{empid}}  <br/>
Employee name {{empname}}  <br/> -->


<form-component #customform>
  <amexio-radio-group-1 [required]="true" [name]="'empid'" [(ngModel)]="empid" [data]="empdata" [display-field]="'firstName'"
    [value-field]="'id'" [field-label]="'Select Employee'">
  </amexio-radio-group-1>
  <amexio-text-component [field-label]="'Employee Name'" [required]="true" [name]="'empname'" [(ngModel)]="empname"></amexio-text-component>

</form-component>
<hr/>
<b>Custom Form Component Validation:</b> {{customform.valid()}} <br/>
<b>Employee Id:</b> {{empid}}  <br/>
<b>Employee name:</b> {{empname}}  <br/>