<amexio-row>
    <amexio-column size="4" [fit]="true">
        <amexio-card-demo>
            <amexio-image path="https://img1.wsimg.com/isteam/stock/9523/:/rs=w:446,h:446,cg:true,m/cr=h:300"></amexio-image>
            <amexio-body-demo>
                <amexio-label [size]="'large'" [font-color]="'#212529'">
                    Card title
                </amexio-label>
                <p>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </amexio-body-demo>
            <amexio-action-demo [align]="'start'">
                <amexio-button [label]="'LIKE'" [type]="'theme-color'" [tooltip]="'LIKE'">
                </amexio-button>
            </amexio-action-demo>
        </amexio-card-demo>
    </amexio-column>
    <amexio-column size="4">
        <amexio-card-demo align="center">
            <amexio-header-demo [bg-color]="'#5c6bc0'" [height]="'75px'">
            </amexio-header-demo>
            <amexio-image [c-class]="'card-img-center'" [filter]="'round'" path="https://media.licdn.com/dms/image/C5103AQF3EDkCcxqsnQ/profile-displayphoto-shrink_100_100/0?e=1554336000&v=beta&t=RhxgAziI4yMWqftaeq6WPvMlSKJgWSzZH5c6H5zT6Yc"></amexio-image>
            <amexio-body-demo>
                <div style="padding-top:65px">
                    <amexio-label [size]="'large'" [font-color]="'#212529'">
                        John Doe
                    </amexio-label>
                </div>
            </amexio-body-demo>
            <amexio-action-demo [align]="'start'" [border-top]="true">
                <amexio-image [icon-class]="'fa fa-quote-left fa-2x'" [tooltip]="'Fontawesome apple'"></amexio-image>
                <amexio-label>
                    Before software can be reusable it first has to be usable. </amexio-label>
            </amexio-action-demo>
        </amexio-card-demo>
    </amexio-column>
    <amexio-column size="4">
        <amexio-card-demo align="center">
            <amexio-header-demo [bg-color]="'linear-gradient(40deg,#2096ff,#05ffa3)'" [height]="'75px'">
            </amexio-header-demo>
            <amexio-image [c-class]="'card-img-center'" [filter]="'round'" path="https://media.licdn.com/dms/image/C5103AQF3EDkCcxqsnQ/profile-displayphoto-shrink_100_100/0?e=1554336000&v=beta&t=RhxgAziI4yMWqftaeq6WPvMlSKJgWSzZH5c6H5zT6Yc"></amexio-image>
            <amexio-body-demo>
                <div style="padding-top:65px">
                    <amexio-label [size]="'large'" [font-color]="'#212529'">
                        John Doe
                    </amexio-label>
                </div>
            </amexio-body-demo>
            <amexio-action-demo [align]="'start'" [border-top]="true">
                <amexio-image [icon-class]="'fa fa-quote-left fa-2x'" [tooltip]="'Fontawesome apple'"></amexio-image>
                <amexio-label>
                    Before software can be reusable it first has to be usable. </amexio-label>
            </amexio-action-demo>
        </amexio-card-demo>
    </amexio-column>
</amexio-row>