<amexio-row>
    <amexio-column size="4" [fit]="true">
        <amexio-card-demo>
            <amexio-image path="https://img1.wsimg.com/isteam/stock/9523/:/rs=w:446,h:446,cg:true,m/cr=h:300"></amexio-image>
            <amexio-body-demo>
                <amexio-label [size]="'large'" [font-color]="'#212529'">
                    Card title
                </amexio-label>
                <p>
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </amexio-body-demo>
            <amexio-action-demo [align]="'start'">
                <amexio-button [label]="'LIKE'" [type]="'theme-color'" [tooltip]="'LIKE'">
                </amexio-button>
            </amexio-action-demo>
        </amexio-card-demo>
    </amexio-column>
    <amexio-column size="4">
        <amexio-card-demo>
            <amexio-header-demo [bg-color]="'#5c6bc0'" [height]="'250px'">

            </amexio-header-demo>
            <amexio-image width="70px" height="70px" path="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"></amexio-image>
            <amexio-body-demo align="center">
                <amexio-label [size]="'large'" [font-color]="'#212529'">
                    Jolly John
                </amexio-label>
            </amexio-body-demo>
            <amexio-action-demo [align]="'start'">
                <amexio-image [icon-class]="'fa fa-quote-left fa-2x'" [tooltip]="'Fontawesome apple'"></amexio-image>
                <amexio-label>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci </amexio-label>
            </amexio-action-demo>
        </amexio-card-demo>
    </amexio-column>
</amexio-row>